---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Accueil - App">
    <h1>Bienvenue sur la page principale</h1>
    <p>Ceci est la page d'accueil de notre mini app Astro 🚀</p>
</Layout>
